<mat-card>
  <mat-toolbar color="primary">Sabores</mat-toolbar>

    <section class="row">
      <div class="col-lg-3" *ngFor="let pizza of pizzas">
        <div class="pizzabox" >
          <img mat-card-image src="{{ pizza.img }}">
          <mat-card-content>
          <h1>{{ pizza.name }}</h1>
          <p class="description">{{ pizza.description }}</p>
          <p>{{ pizza.price | currency: 'BRL'}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Fazer Pedido</button>
        </mat-card-actions>
        </div>
    </div>
    </section>
  </mat-card>




