<div class="banner">
  <div class="content">
    <h1>Hora da pizza!</h1>
    <h3>Aquele Momento Inesquecível</h3>
  </div>
  <button type="button" class="btn btn-primary" routerLink="pizzas">
   Faça seu pedido aqui! <i class="bi bi-arrow-right"></i>
  </button>
</div>

<div class="step">
  <h1>Descubra como obter uma pizza perfeita!</h1>

  <div class="row">
    <div class="col-lg-4">
    <div class="Box">
      <h1>1</h1>
      <p>Selecione o tipo</p>
    </div>
  </div>

    <div class="col-lg-4">
      <div class="Box">
        <h1>2</h1>
        <p>Preencha os detalhes</p>
      </div>
    </div>

      <div class="col-lg-4">
        <div class="Box">
          <h1>3</h1>
          <p>Entrega do pedido em minutos</p>
        </div>
      </div>

    </div>

    <mat-card>
    <mat-toolbar color="primary">Contato</mat-toolbar>
          <section class="row">
            <div class="col-lg-3" *ngFor="let pizza of pizzas">
              <div class="pizzabox" >
                <img src="{{ pizza.img }}"/>
                <h1>{{ pizza.name }}</h1>
                <p>{{ pizza.price | currency: 'BRL'}}</p>
                <div class="btn-pizzabox">
                <a class="btn-pedido"><i class="bi bi-cart3"></i> Fazer Pedido</a>
              </div>
              </div>
          </div>
          </section>
          <div class="space-btn">
            <button mat-raised-button routerLink="pizzas" color="primary" >Veja Mais Opções</button>
          </div>
        </mat-card>
    </div>

